<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="static\imagens\icon_instagram.jpg">
</head>

<body>
    <header>


        <button id="openMenu">&#9776;</button>

        <nav class="navbar navbar-light nav-top">
            <div class="container-fluid nav-container">
                <a class="navbar-brand" href="/" target="_blank"><img src="static/imagens/logo_teste.png" style=" max-width:130px;
                  max-height:80px"></a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                </form>
                <div style="width: 30%;">
                    <i class="bi bi-house-door icons"></i>
                    <i class="bi bi-inbox icons"></i>
                    <i class="bi bi-compass icons"></i>
                    <i class="bi bi-heart icons"></i>
                    <a href="/perfil">
                        <img class="img-nav" src="{{usuario['foto_perfil']}}"> </a>
                </div>
            </div>
        </nav>
    </header>

    <aside>
        <br>
        <div class="relacionados">
            <ul>
                <li> <button class="btn btn-light"> 🧭 Explorar </button> </li>
                <li> <button class="btn btn-light"> 🎬 Reels </button> </li>
                <li> <button class="btn btn-light"> 💬 Mensagens </button> </li>
                <li> <button class="btn btn-light"> 🤍 Notificações</button> </li>
                <li> <button class="btn btn-light"
                        onclick="popupCenter({url: '/criar_nova_publicao', title: 'xtf', w: 900, h: 500});">
                        📲 Criar </button> </li>
                <li> 
                    <a  class="btn btn-light" href="/perfil" style="text-decoration: none; color: black;">
                        <img class="img-nav" src="{{usuario['foto_perfil']}}">  
                        Perfil  </a>
                </li>   
            </ul>
        </div>
    </aside>

    <main>
        <section>
            <div class="box_recomendado">
                <span id="sugestoes"> Sugestão para você </span> <br>
                {% for item in recomendados %}
                <div class="item_recomendado">
                    <a style="text-decoration: none; color: black;" href='/user?user={{item["nome_usuario"]}}'> <img
                            class="img-nav" src="{{item['foto_perfil']}}"> </a>
                    <span> <a style="text-decoration: none; color: black;" href='/user?user={{item["nome_usuario"]}}'>
                            {{item['nome_usuario']}} </a> </span>
                </div>
                {% endfor %}
            </div>
                {% for pub in feed %}
            <div class="box_publicacao">
                <div class="usuario_post">
                    <a style="text-decoration: none; color: black;" href='/user?user={{pub["nome_usuario"]}}'> <img
                            class="img-nav" src="{{pub['foto_perfil']}}"> </a>
                    <span class="span_s"> <a style="text-decoration: none; color: black;"
                            href='/user?user={{pub["nome_usuario"]}}'> {{pub['nome_usuario']}} </a></span>
                    <hr>
                    <img style="border: 1px solid black;" src="{{pub['name_post']}}">
                </div>
            </div>
            {% endfor %}
        </section>
    </main>




    
    <script type="text/javascript">
            const popupCenter = ({url, title, w, h}) => {
    // Fixes dual-screen position                             Most browsers      Firefox
    const dualScreenLeft = window.screenLeft !==  undefined ? window.screenLeft : window.screenX;
    const dualScreenTop = window.screenTop !==  undefined   ? window.screenTop  : window.screenY;

    const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    const systemZoom = width / window.screen.availWidth;
    const left = (width - w) / 2 / systemZoom + dualScreenLeft
    const top = (height - h) / 2 / systemZoom + dualScreenTop
    const newWindow = window.open(url, title, 
      `
      scrollbars=yes,
      width=${w / systemZoom}, 
      height=${h / systemZoom}, 
      top=${top}, 
      left=${left}
      `
    )

    if (window.focus) newWindow.focus();
}

    </script>
   
</body>

</html>